---
const { post } = Astro.props;
---
<style lang="scss">
  .post-title {
    text-decoration: none;
  }

    h3 {
      font-size: 25px;
      margin-bottom: 10px;
      color: var(--accent);
    }

    article {

        span {
          display: block;
          margin-bottom: 10px;
        }
    }

    .categories {
      margin-bottom: 50px;
    }

    .category {
      margin-right: 10px;

    }
</style>
<div data-type="thought">
    <a href={post.url} class="post-title"><h3>{post.title}</h3></a>
    <article>
        <span>{post.abstract}</span>
    </article>
    <div class="categories">{ post.categories.map(category => <code class="category" data-category={category}>{category}</code>) }  </div>
</div>